<%= form_for [@customer, @student] do |f| %>
  
<%= render "layouts/basic_info_form", :f => f %>

<div>
	<%= f.fields_for :telephones do |builder| %>
	<% @collection = [['Cell', 'Cell']] %>
  	<%= render "telephones/telephone_fields", :f => builder %>
	<% end %>
</div>
<div class="field">
 <%= link_to_add_fields '<i class="icon-plus icon-white"></i>'.html_safe, f, :telephones, "btn btn-success tooltip_right" %>
</div> 

<div class="field">
    <%= f.label :birthdate %>
    <%= f.date_select :birthdate, {:order => [:month, :day, :year], :start_year => 1950, :use_short_month => true, :prompt => [:day => 'Select day', :month => 'Select month', :year => 'Select year']}, {:class => "input-sm"} %>
</div>

<div class="field inline">
    <%= f.label :grade %>
    <%= f.select :grade, school_grades, {include_blank: 'Select'}, :class => "input-med" %>
</div>

<div class="field inline">
    <%= f.label :schoolyear, "as of &nbsp;".html_safe, :class => "inline" %>
    <%= f.date_select :schoolyear, {:order => [:year], :start_year => 2010, :prompt => [:year => 'Select year']}, {:class => "input-sm"} %>
</div>
  
<div class = "actions">
	<%= f.submit submit_button_message(yield(:button_message)), class: "btn btn-large btn-primary" %>
</div>
<% end %>
