<%= form_for [@customer, @student] do |f| %>
  
<div>
	<%= f.label :first %><br />
	<%= f.text_field :first %>
</div>
<div>
    <%= f.label :last %><br />
    <%= f.text_field :last %>
</div>
<div>
	<%= f.fields_for :telephones do |builder| %>
	<% @collection = [['cell', 'cell']] %>
  	<%= render "telephones/telephone_fields", :f => builder %>
	<% end %>
</div>
  
<div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
</div>
<div>
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate, {:order => [:month, :day, :year], :start_year => 1950, :use_short_month => true, :prompt => [:day => 'Select day', :month => 'Select month', :year => 'Select year']}, {:class => "input-sm"} %>
</div>
<div>
    <%= f.label :grade %><br />
    <%= f.number_field :grade %>
</div>
  
<div><%= f.submit %></div>
<% end %>
