<%= form_for [@customer, @student] do |f| %>
  
  <p>
    <%= f.label :first %><br />
    <%= f.text_field :first %>
  </p>
  <p>
    <%= f.label :last %><br />
    <%= f.text_field :last %>
  </p>
  <p>
    <%= f.label :cell %><br />
    <%= f.text_field :cell %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate, :order => [:month, :day, :year], :start_year => 1950, :prompt => [:day => 'Select day', :month => 'Select month', :year => 'Select year']%>
  </p>
  <p>
    <%= f.label :grade %><br />
    <%= f.number_field :grade %>
  </p>
  
  <p><%= f.submit %></p>
<% end %>
