<% if params[:year] and params[:month] and params[:id]%>
	<% @date = Date.new(y=params[:year].to_i, m=params[:month].to_i) %>
<% end %>
<% @extra_attendances = @student.extras.where("date >= ? AND date <= ?", @date, @date.end_of_month).order("date ASC") %>

<% @sharings = Sharing.where("date >= ? AND date <= ?", @date, @date.end_of_month).order("date ASC") %>
<% @detailed_sharing  = Array.new %>
<% @sharing_signup = Array.new %>
<% for sharing in @sharings %>
  <% @sharing = DetailedSharing.where("sharing_id = ? AND student_id = ?", sharing.id, @student.id).first %>
  <% @detailed_sharing.push(@sharing) unless @sharing.nil? %>    
<% end %>
<% if @detailed_sharing.any? %>
  <% for detailed_sharing in @detailed_sharing %>
   <% @sharing = Sharing.find(detailed_sharing.sharing_id) %>
   <% @sharing_signup.push(@sharing) %>
  <% end %>
<% end %>

<% @lessons.each do |lesson| %>
<p><b><%= Instrument.find(lesson.instrument_id).name %></b></p>
	<% @attendances = lesson.attendances.where("date >= ? AND date <= ? AND status != ?", @date, @date.end_of_month, "s").order("date ASC") %>
	<% @attendances.each do |attendance| %>
		<% @status = status_name(attendance.status) %>
		<% @day = format_day(attendance.date) %>
		<p>
			<%= link_to "#{@day}", daily_path(date: attendance.date.to_time.to_i), method: "get" %>
			<%= @status %>
		</p>
	<% end %> 
<% end %>
<p><b>Make Ups And Extra Lessons</b></p>
<% for extra in @extra_attendances %>
	<% @day = format_day(extra.date) %>
	<% @status = status_name(extra.attendances.first.status) %>
<p>
	<%= link_to "#{@day}", daily_path(date: extra.date.to_time.to_i), method: "get" %>
	<%= @status %>
</p>
<% end %>

<% if @sharing_signup.any?%>
	<p>
		<b>Sharing:</b>
	</p>
<p>
		<% for sharing in @sharing_signup %>
		<% @detailed_sharing = @student.detailed_sharings.where("sharing_id = ?", sharing.id).first %>
		<%= link_to "#{format_day(sharing.date)} at #{format_time(sharing.start_time)}", sharing_path(sharing) %>
		<% @time = join_date_time(sharing.date, sharing.start_time) %>
			<% if @time >= Time.now %>
				<span class = "text-info">Signed up</span>
			<% else %>
				<%= sharing_attendance(@detailed_sharing.attendance) %>
			<% end %>
</p>
		<% end %>
<% end %>