<% provide(:title, 'Students') %>
<table class="table table-hover">
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Cell</th>
    <th>Email</th>
    <th>Birthdate</th>
    <th class = "center">Grade</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for student in @students %>
  <% @customer = Customer.find(student.customer_id) %>
  <% if student.schoolyear and student.grade %>
  	<% @grade = current_grade(student.schoolyear.year, student.grade) %>
  	<% @grade < 0 ? @current_grade = "Pre-school" : @current_grade = grade_display[@grade] %>
  <% else %>
  	<% @current_grade = "N/A" %>
  <% end %>
    <tr>
      <td><%= student.first %></td>
      <td><%= student.last %></td>
      <td><%= student.telephones.any? ? formated_phone(student.telephones.first.number) : "" %></td>
      <td><%= student.email %></td>
      <td><%= student.birthdate.strftime('%b %d, %Y') %></td>
      <td class = "center"><%= @current_grade %></td>
      <td><%= "#{@customer.first.first}. #{@customer.last}" %></td>
      <td><%= link_to 'Show', student %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Destroy', student, method: :delete, remote: true, class: "triger" %></td>
      </tr>
    <% end %>
</table>
<%= render :partial => 'shared/alert' %>
      