<p id="notice"><%= notice %></p>
	<b>Student:</b>
	<%= "#{@student.first} #{@student.last}" %>
</p>
<% if @student.email != "" %>
<p>
  <b>Email:</b>
  <%= @student.email %>
</p>
<% end %>
	<% if @student.telephones.any? %>
<p>
	<b>Telephones:</b></br>
	<ul>
		<% for telephone in @student.telephones %>
			<li>
				<%= formated_phone(telephone.number) %>&nbsp;
				<%= telephone.description %>
			</li>
		<% end %>
	<% end %>
	</ul>
</p>
<p>
	<b>Regular Lessons:</b></br>
</p>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Instrument</th>
			<th>Day</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Teacher</th>
		</tr>
	</thead>
	<% for lesson in @lessons %>
	<tr>
		<td>
			<%= Instrument.find(lesson.instrument_id).name %>
		</td>
		<td>
			<%= Date::DAYNAMES[lesson.weekday]%>
		</td>
		<td>
			<%= format_time(lesson.start_time) %>
		</td>
		<td>
			<%= format_time(lesson.end_time) %>
		</td>
		<td>
			<%= Teacher.find(lesson.teacher_id).first %>
		</td>
	</tr>		
	<% end %>
</table>

<p>
	<b>Upcoming Make Up and Extra Lessons:</b></br>
</p>
<% if @extras.any? %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Instrument</th>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Teacher</th>
			<th></th>
		</tr>
	</thead>
	<% for extra in @extras %>
	<tr>
		<td>
			<%= Instrument.find(extra.instrument_id).name %>
		</td>
		<td>
			<%= format_day(extra.date)%>
		</td>
		<td>
			<%= format_time(extra.start_time) %>
		</td>
		<td>
			<%= format_time(extra.end_time) %>
		</td>
		<td>
			<%= Teacher.find(extra.teacher_id).first %>
		</td>
		<td>
			<%= link_to 'Edit', edit_student_extra_path(@student, extra) %>
		</td>
	</tr>		
	<% end %>
</table>
<% else %>
<p>No make ups scheduled.</p></br>
<% end %>
<p>
	<b>Attendance:</b></br>
</p>
<%= select_date Date.current, {:order => [:year, :month], :use_short_month => true, :end_year => Time.now.year}, {:class => "input-sm date-search"} %>


<input type="hidden" id="hidden_field" value='<%= "#{@student.id}" %>' />
<div id="attendance_result">
	<%= render file: "/students/attendance_search" %>
</div>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Customer Info', customer_path(@student.customer) %> |
<%= link_to 'Add Lesson', new_student_lesson_path(@student) %> |
<%= link_to 'Add Make Up/Extra Lesson', new_student_extra_path(@student) %> |
<%= link_to 'Sign Up For Sharing', new_student_detailed_sharing_path(@student) %>