<%= form_for(@customer) do |customer| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= customer.label :first %>
    <%= customer.text_field :first, class: "live_search_field", autocomplete: "off" %>
  </div>
  <div class="field">
    <%= customer.label :last %>
    <%= customer.text_field :last, class: "live_search_field", autocomplete: "off" %>
  </div>
  <div class="field">
    <%= customer.label :email %>
    <%= customer.text_field :email, autocomplete: "off" %>
  </div>
  <%= customer.fields_for :telephones do |telephone| %>
  <div class="field">
    <%= telephone.label :area, "Number" %>
    <span class="phone_field">(</span>
    <%= telephone.text_field :area, maxlength: 3, class: "autojump area", autocomplete: "off" %>
    <span class="phone_field">)&nbsp;-</span>
    <%= telephone.text_field :prefix, maxlength: 3, class: "autojump prefix", autocomplete: "off" %>
    <span class="phone_field">-</span>
    <%= telephone.text_field :sufix, maxlength: 4, class: "autojump sufix", autocomplete: "off" %>
  </div>
  <div class="field">
    <%= telephone.label :description %>
    <%= telephone.select :description, [['Mr. cell', 'Mr. cell'], ['Mrs. cell', 'Mrs. cell'], ['Home', 'Home']] %>
  </div>
  <% end %>
  <div class="actions">
    <%= customer.submit submit_button_message(yield(:button_message)), class: "btn btn-large btn-primary" %>
  </div>
<% end %>
