<p id="notice"><%= notice %></p>

<p>
	<b>Customer:</b>
	<%= "#{@customer.first} #{@customer.last}" %>
</p>
<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>
<ul>
	<% if @customer.telephones.any? 
		for telephone in @customer.telephones %>
			<li>
				<%= formated_phone(telephone.number) %>&nbsp;
				<%= telephone.description %>
			</li>
		<% end %>
	<% end %>
</ul>
<p>
    <b>Address:</b>
    <%= "#{@mailing.street}" %></br> 
	<%= "#{@mailing.city}, #{@mailing.state} #{@mailing.zip}" %>	
</p>
 
   <h3>Students:</h3>
<p>
	<ul>
     <% for student in @students %> 
	 <li>
 	<%= "#{student.first} #{student.last}" %>
</li>
<% end %>
</ul>
  </p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %> |
<%= link_to 'Add Telephone', new_customer_telephone_path(@customer) %>
<%= link_to 'Add Student', new_customer_student_path(@customer) %>
