<div id = "top-wrapper">
	<div id="header">	
		<div id="buttons">
			<%= link_to '<i class="icon-home icon-white"></i>'.html_safe, root_path, class: "link-button" %>
			<input  id = "date-select" class ="link-button" type="text" readonly="readonly">
			<%= link_to "<", daily_path(date: @previous), method: "get", class: "link-button", id: "previous"  %>
			<%= link_to "Today", daily_path, method: "get", class: "link-button", id: "today"%>
			<%= link_to ">", daily_path(date: @next), method: "get", class: "link-button", id: "next"  %>
		</div>
		<div id="day"><%= @day %></div>
	</div>
	<div id="rooms">
		<table id="days">
			<tr>
			<td class="blank">&nbsp;</td>

		<% for room in @rooms do %>
	<td class="day-header"><%= room.name %></td>
	<% end %>
			</tr>
		</table>
	</div>
</div>