<%= render 'header' %>
<%= 
%>
<% @start_time = Time.new(2000, 1, 1, 6, 0, 0 ) %>
<% i = 6 %>
<div id="grid-hour">
	<table id="hour-column" >		
		
		<% while i < 20 do %>
			<% @hour = @start_time.strftime("%l : %M %p") %>
		
			<tr>
				<td class="time-header">
					<p class="time-display"><%= "#{@hour}"%></p>
				</td>
			</tr>
			<% @start_time += (60 * 60) %>
			<% i +=1 %>
			
			<% end %>
			
	</table>
</div>

<div id="test">
	<div id="day-container">

		<% d = 1 %>
		<% while d < 9 do %>
			<% @room = d %>

			<div class="grid-day" id="<%= '#{@room}' %>">
				<table class="day-column" >
					<% i = 0 %>
					<% while i < 14 do %>
						<% e = 0 %>
						<% while e < 4 do %>
							<% if e < 3 %>
								<tr><td class="time-slot"></td></tr>
							<% else %>	
								<tr><td class="time-slot-hour"></td></tr>
							<% end %>
							<% e += 1 %>
						<% end %>
						<% i += 1 %>
					<% end %>			
				</table>
				
				<% if @columns[d] != nil
					@columns[d].each do |column|
						@height = (column[:length]*25).to_i
						@width = (100/@max_num[d][column[:id]]*@num_slots[column[:id]]).to_i
						@x_ind = (100/@max_num[d][column[:id]]*@index_array[d][column[:id]]).to_i
						@top = (column[:slot]*25).to_i
						@lesson_id = column[:id] %>
				
				<div class="event" style="position:absolute; top: <%= @top %>px; left: <%= @x_ind %>%; height: <%= @height %>px; width: <%= @width %>%; background-color: blue;">
					<input class="start_time" type="hidden" value="">
					<input class="order_id" type="hidden" value="order">
					<h4 style="background-color:red;">Test</h4>
					<p class="purpose"></p>
				</div>
					<% end %>
				<% end %>
			</div>
			
			<% d += 1 %>
		<% end %>
	</div>
</div>
	

	