<%= form_for [@student, @lesson] do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instrument %>
    <%= collection_select(:lesson, :instrument_id, Instrument.all, :id, :name, {:include_blank => "Select an instrument"}, {:id => 'instrument_select'})%>
  </div>
  <div class="field">
    <%= f.label :teacher %>
    <%= f.select :teacher_id, options_for_select(@teachers, @selected), :include_blank => "Select a teacher"  %>
  </div>
  <div class="field">
    <%= f.label :room %>
    <%= collection_select(:lesson, :room_id, Room.find(:all, :order => "id ASC"), :id, :room_description, {:include_blank => "Select a room"})%>
  </div>
  <div class="field">
    <%= f.label :weekday %>
    <%= f.select :weekday, days_of_week, :include_blank => "Select day of the week" %>
  </div>
  <div class="field input-append bootstrap-timepicker">
    <%= f.label :start_time %>
    <%= f.text_field :start_time, :class => "timepicker input-sm" %>
	<span class="add-on"><i class="icon-time"></i></span>
  </div>
  <div class="field input-append bootstrap-timepicker">
    <%= f.label :end_time %>
    <%= f.text_field :end_time, :class => "timepicker input-sm" %>
	<span class="add-on"><i class="icon-time"></i></span>
  </div>
  <div class="field">
    <%= f.label :frequency %>
    <%= f.select :frequency, frequency_select, :include_blank => "Select frequency" %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, {:order => [:month, :day, :year], :use_short_month => true,}, {:class => "input-sm"} %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, {:order => [:month, :day, :year], :use_short_month => true, :prompt => [:day => 'Select day', :month => 'Select month', :year => 'Select year']}, {:class => "input-sm"} %>
  </div>
  <div class="actions">
    <%= f.submit submit_button_message(yield(:button_message)), {class: "btn btn-large btn-primary"} %>
  </div>
<% end %>
