<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= "#{@lesson.student.first} #{@lesson.student.last}" %>
</p>

<p>
  <b>Instrument:</b>
  <%= @lesson.instrument.name %>
</p>

<p>
  <b>Teacher:</b>
  <%= @lesson.teacher.first %>
</p>

<p>
  <b>Weekday:</b>
  <%= Date::DAYNAMES[@lesson.weekday] %>
</p>

<p>
  <b>Start time:</b>
  <%= format_time @lesson.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= format_time @lesson.end_time %>
</p>

<p>
  <b>Frequency:</b>
  <%= @lesson.frequency ? frequency_display[@lesson.frequency] : "N/A" %>
</p>

<p>
  <b>Start date:</b>
  <%= @lesson.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @lesson.end_date ? @lesson.end_date : "N/A" %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
