<div class="form-container">
<%= form_for(@teacher) do |f| %>
  
  <fieldset><legend>Contact Info</legend>
	<%= render "layouts/basic_info_form", :f => f, :@person => @teacher %>
	
	<%= f.label :status, "Status" %>
	<%= f.select(:status, options_for_select([['Regular','r'],['Substitute', 's'],['Inactive', 'i']]), {:include_blank => false }, {class: "input-med field"}) %>
	  
  	<%= f.fields_for :telephones do |builder| %>
	<% @collection = phone_collection "B" %>
	<!-- view telephones_helper for available collections -->
    	<%= render "telephones/telephone_fields", :f => builder, :@person => @teacher %>
  	<% end %>
  <div class="field">
   <%= link_to_add_fields '<i class="icon-plus icon-white"></i>'.html_safe, f, :telephones, "btn btn-success" %>
  </div>
</fieldset>
  <div>
	<%= f.fields_for :addresses do |builder| %>
  		<%= render "addresses/addresses_fields", :f => builder, :@person => @teacher %>
	<% end %>
  </div>
  
  <% for instrument in Instrument.all %>  
      <div>  
        <%= check_box_tag "teacher[instrument_ids][]", instrument.id, @teacher.instruments.include?(instrument), :class => 'checkbox' %>  
        <%= instrument.name %>  
      </div>  
  <% end %>
  
  <div class="actions">
    <%= f.submit submit_button_message(yield(:button_message)), class: "btn btn-large btn-primary" %>
  </div>
<% end %>
</div>
