<h1>Listing teachers</h1>

<table class="table table-hover">
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.first %></td>
    <td><%= teacher.last %></td>
    <td><%= teacher.email %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Delete', teacher, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
