<p id="notice"><%= notice %></p>

<p>
	<b>Teacher:</b>
	<%= "#{@teacher.first} #{@teacher.last}" %> 
</p>
<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>
<p>
  <b>Telephones:</b>
</p>
<ul>
	<% if @teacher.telephones.any? 
		for telephone in @teacher.telephones %>
			<li>
				<%= formated_phone(telephone.number) %>&nbsp;
				<%= telephone.description %>
			</li>
		<% end %>
	<% end %>
</ul>
<p>
    <b>Address:</b></br>
    <%= "#{@mailing.street}" %></br> 
	<%= "#{@mailing.city}, #{@mailing.state} #{@mailing.zip}" %>	
</p>
<p>
    <b>Instruments:</b></br>
	<ul>
	<% for instrument in @teacher.instruments %>
    <li><%= "#{instrument.name}" %></li>
	<% end %>
</ul>
</p>



<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
