<div class="field">
  <%= f.label :street %>
  <%= f.text_field :street %>
</div>
<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>
<div class="field"> 
  <%= f.label :state %>
  <%= f.select :state, options_for_select(us_states, @selected) %>
</div>
<div class="field">
  <%= f.label :zip %>
  <%= f.text_field :zip %>
</div>
<%= f.fields_for :preferred_addresses do |preferred| %>
	<%= preferred.hidden_field :description, :value => @address_description %>
<% end %>