<div class="field">
  <%= f.label :street %>
  <%= f.text_field :street %>
</div>
<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>
<div class="field"> 
  <%= f.label :state %>
  <% if current_page?(url_for(:controller => 'customers', :action => 'new')) %>
  <%= f.select :state, options_for_select(us_states, 'AZ') %>
  <% else %> 
  <%= f.select :state, us_states %>
  <% end %>
</div>
<div class="field">
  <%= f.label :zip %>
  <%= f.text_field :zip %>
</div>
<%= f.fields_for :preferred_addresses do |builder| %>
	<%= builder.hidden_field :description, :value => "mailing" %>
<% end %>