<div>
	<%= f.label :street %>
</div>
<div>
	<div class="field inline">
		<%= f.text_field :street, class: "input-lrg", autocomplete: "off" %>
	</div>
	<%= display_error(@person, "addresses.street") %>
</div>
<div>
	 <%= f.label :city %>
</div>
<div>
	<div class="field inline">
		<%= f.text_field :city, class: "input-lrg", autocomplete: "off", value: "Tucson" %>
	</div>
	<%= display_error(@person, "addresses.city") %>
</div>
<div class="field inline"> 
  <%= f.label :state %>
  <%= f.select :state, options_for_select(us_states, @selected), {:include_blank => false }, { class: "span2", 'data-role' =>'none' } %>
</div>
<div  class="inline">
	<div>
		<%= f.label :zip %>
	</div>
	<div>
		<div class="field inline">
		<%= f.text_field :zip, maxlength: 5, class: "span2 zip" %>
  		</div>
  	<%= display_error(@person, "addresses.zip") %>
	</div>
</div>
<%= f.fields_for :preferred_addresses do |preferred| %>
	<%= preferred.hidden_field :description, :value => @address_description %>
<% end %>