
	<div>
	<%= f.label :street %>
</div><div>
<div class="field inline">
	<%= f.text_field :street %>
</div>
<% if person.errors.any? %>
<div class="field inline alert alert-error">
	 <i class="icon-warning-sign icon-white"></i>
	 <%= "#{person.errors[:'addresses.street'].first}" %>
</div>
<% end %>
</div>
<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>
<div class="field"> 
  <%= f.label :state %>
  <%= f.select :state, options_for_select(us_states, @selected) %>
</div>
<div class="field">
  <%= f.label :zip %>
  <%= f.text_field :zip, maxlength: 5 %>
</div>
<%= f.fields_for :preferred_addresses do |preferred| %>
	<%= preferred.hidden_field :description, :value => @address_description %>
<% end %>