<% provide(:title, 'Sharing Attendance') %>
<h1>Sharing attendance</h1>
<h2><%= "#{format_day(@sharing.date)} #{format_time(@sharing.start_time)}" %></h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th class = "center">Name</th>
			<th class = "center">Attended</th>
			<th class = "center">Memory</th>
			<th class = "center">Practice</th>
		</tr>
	</thead>

	
	<%# form_for [@sharing], :url => update_attendance_path, :remote => true, :html => { :method => :put } do  %>
	
<%= form_for :detailed_sharing, :url => update_attendance_path, :remote => true, :html => { :method => :put } do  %>
	<% @students.each do |student| %>
	
	
	
		<%= hidden_field_tag 'sharing_id', @sharing.id %>
		<% @share = DetailedSharing.where("student_id = ? AND sharing_id = ?", student.id, @sharing.id).first %>
		<tr class = '<%= "#{@share.id}" %>'>
			<td><%= link_to "#{student.last} #{student.first}", student_path(student) %></td>
			
		<%= fields_for "detailed_sharing[]", @share do |f| %>	
			<td class = "center">
				<%= f.check_box("attendance", {:class => 'checkbox sharing-cbx'}) %>  			  			  </td>
			<td class = "center">
				<%= f.check_box("memory", {:class => 'checkbox sharing-cbx'}) %>  			  			  </td>
			<td class = "center">
				<%= f.check_box("practice", {:class => 'checkbox sharing-cbx'}) %>  			</td>
  		</tr>
  	<% end %>
  <% end %>
  

  </table>
	<div class="actions">
    <%= submit_tag "", :class => @share.id, :style => "display:none" %>
  </div>
<% end %>
<%= link_to 'Sharing Summary', sharing_path(@sharing) %>
