<h1>New sharing sign up for</h1>
<h2><%= "#{@student.first} #{@student.last}" %></h2>
<%= select_date Date.current, {:order => [:year, :month], :use_short_month => true, :end_year => Time.now.year}, {:class => "input-sm sharing-search"} %>
<input type="hidden" id="hidden_field" value='<%= "#{@student.id}" %>' />
<div id = "sharing-result">
	<%= render file: 'detailed_sharings/sharing_search' %>
</div>

<%= link_to 'Back', student_path(@student) %>

