<%= form_for [@customer, @telephone] do |f| %>
  <% if @telephone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telephone.errors.count, "error") %> prohibited this telephone from being saved:</h2>

      <ul>
      <% @telephone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="phone_field fields">
    <%= f.hidden_field :customer_id , :value=>params[:customer_id] %>
    <%= f.label :area, "Number" %>
    <span class="phone_field">(</span>
    <%= f.text_field :area, maxlength: 3, class: "autojump area"%>
    <span class="phone_field">)&nbsp;-</span>
    <%= f.text_field :prefix, maxlength: 3, class: "autojump prefix"%>
    <span class="phone_field">-</span>
    <%= f.text_field :sufix, maxlength: 4, class: "autojump sufix"%>
    <%= f.label :description %>
    <%= f.select :description, [['Mr. cell', 'Mr. cell'], ['Mrs. cell', 'Mrs. cell'], ['Home', 'Home']] %>
  </div>
  <div class="actions">
    <%= f.submit "Add Telephone", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
