<%= form_for [@student, @extra] do |f| %>
  <% if @extra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extra.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @extra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instrument %>
    <%= collection_select(:extra, :instrument_id, Instrument.all, :id, :name, {:include_blank => "Select an instrument"}, {:id => 'instrument_select'})%>
  </div>
  <div class="field">
    <%= f.label :teacher %>
    <%= f.select :teacher_id, options_for_select(@teachers, @selected), {:include_blank => "Select a teacher"}, {:id => "teacher_list"}  %>
  </div>
  <div class="field">
    <%= f.label :room %>
    <%= collection_select(:extra, :room_id, Room.find(:all, :order => "id ASC"), :id, :room_description, {:include_blank => "Select a room"})%>
  </div>
  <div class="field">
    <%= f.label :category, "Type" %>
	<%= f.select :category, extras_categories %> 
  </div>
  <div class="field">
    <%= label_tag :date %>
    <%= text_field_tag "date-box", @date %>
  </div>
  <div class="field">
    <%= f.hidden_field :date, :class => "db-date" %>
  </div>
  <div class="field">
	<%= f.fields_for :attendances do |a| %>
    <%= a.hidden_field :date, :class => "db-date" %>
	<%= a.hidden_field :status, :value => "s" %>
	<% end %>
  </div>
  <div class="field input-append bootstrap-timepicker">
    <%= f.label :start_time %>
    <%= f.text_field :start_time, :id => "timepicker_start", :class => "input-sm dateselect-time" %>
	<span class="add-on"><i class="icon-time"></i></span>
  </div>
  <div class="field input-append bootstrap-timepicker">
    <%= f.label :end_time %>
    <%= f.text_field :end_time, :id => "timepicker_end", :class => "timepicker input-sm" %>
	<span class="add-on"><i class="icon-time"></i></span>
  </div>
  <div class="actions">
    <%= f.submit submit_button_message(yield(:button_message)), {class: "btn btn-large btn-primary"} %>
  </div>
<% end %>
