<% provide(:title, 'Instruments') %>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instruments.each do |instrument| %>
  <tr>
    <td><%= instrument.name %></td>
    <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
    <td><%= link_to 'Destroy', instrument, method: :delete, remote: true, class: "triger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instrument', new_instrument_path %>
<%= render :partial => 'shared/alert' %>