<%= form_for [@lesson, @attendance] do |f| %>
	
	<label class="radio">
	<%= f.radio_button :status, "s" %>Scheduled
	</label>  
	<label class="radio">
		<%= f.radio_button :status, "a" %>Attended
	</label>
	<label class="radio">
		<%= f.radio_button :status, "m" %>Missed
	</label>
	<label class="radio">
		<%= f.radio_button :status, "c", id: "cancel_radio" %>Canceled
	</label>
	<label class = "checkbox disabled_input">
		<%= check_box_tag "cancelation_email", "send", false, disabled: true, id: "cancel_cbx" %><i>Send cancelation email</i>   
	</label>
	
	<%= f.hidden_field :date, :value => @date %>
	<%= f.hidden_field :teacher_id, :value => @teacher_id %>

  <div class="actions" style="display:none;">
    <%= f.submit submit_button_message('add'), class: "btn btn-large btn-primary link-class", id: "submit" %>
  </div>
<% end %>
