<div>
	<div class="field inline">
		<%= f.label :first %>
		<%= f.text_field :first, class: "span2", autocomplete: "off" %>
	</div>
	<div class="field inline">
		<%= f.label :last %>
		<%= f.text_field :last, class: "span2", autocomplete: "off" %>
	</div>
</div>

<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email, autocomplete: "off", class: "input-lrg" %>
</div>