<header >
	<div class = "navbar-fixed-top">
		<div class = "header-top" >
			<%= link_to "Whitby Studio", root_path, class: "logo" %>
		</div>

		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav pull-right">
					<li class = "<%= current_page?(root_path) ? "active" : "" %>" >
						<%= link_to "Home", root_path %>
					</li>
					<li class = "<%= current_page?(customers_path) ? "active" : "" %>" >
						<%= link_to "Customers", customers_path %>
					</li>
					<li class = "<%= current_page?(students_path) ? "active" : "" %>" >
						<%= link_to "Students", students_path %>
					</li>
					<li class = "<%= current_page?(teachers_path) ? "active" : "" %>" >
						<%= link_to "Teachers", teachers_path %>
					</li>
					<li class = "<%= current_page?(instruments_path) ? "active" : "" %>" >
						<%= link_to "Instruments", instruments_path %>
					</li>
					<li class = "<%= current_page?(rooms_path) ? "active" : "" %>" >
						<%= link_to "Rooms", rooms_path %>
					</li>
					<li class = "<%= current_page?(daily_path) ? "active" : "" %>" >
						<%= link_to "Calendar", daily_path %>
					</li>
					
				</ul>
			</div>
        </div>
	</div>
</header>